@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700&display=swap);
html,
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #565656;
    font-family: "Inconsolata", monospace;
    line-height: 19.2px;
}

@page {
	size: A4;
	margin: 0;
}

@media print {
    html,
    body {
        width: 210mm;
        height: 297mm;
        -webkit-print-color-adjust: exact;

        .printable-page {
            margin: 0;
            box-shadow: 0;
        }
    }
}

img,
embed,
object,
video {
    max-width: 100%;
}

* {
    box-sizing: border-box;
}

@define-mixin flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
}

@define-mixin bg-picture {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div[size="A4"] {
	width: 21cm;
	min-width: 21cm;
    height: 29.7cm;
    padding: 20px 20px 20px 40px;
}

.printable-page {
    position: relative;
    background-color: #fff;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 0.5cm;
	box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}

.m-upper {
    text-transform: uppercase;
}

.header {
    @mixin flex-container;
    &__name {
        color: #000;
        font-size: 50px;
        width: 38%;
        font-weight: 700;
        span {
            display: inline-block;
            line-height: 50px;
        }
    }
    &__main-info {
        display: block;
        order: 4;
        width: 43%;
        position: relative;
        top: -3rem;
        font-size: 20px;
        color: gray;
    }
    &__avatar {
        @mixin bg-picture;
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        background-image: inline("IMG_1407.JPG");
        border: 5px solid #fff;
        z-index: 1;
    }
    &__personal-info {
        width: 30%;
        color: #fff;
        text-align: end;
        line-height: 2.5rem;
        z-index: 1;
    }
    .bg-image {
        position: absolute;
        top: 0;
        right: 0;
        width: 560px;
        height: 216px;
    }
}

.content {
    @mixin flex-container;
    flex-direction: column;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-content: space-between;
    position: relative;
    top: -60px;
    height: 250mm;
    .section-title {
        text-transform: uppercase;
        font-size: 20px;
        margin: 30px 0 10px 0;
    }
    .education {
        width: 65%;
        order: 2;
        &__content {
            b,
            span {
                display: inline-block;
            }
        }
    }
    .experience {
        width: 65%;
        order: 3;
        &__item {
            &--left {
                display: inline-block;
                width: 58%;
                text-align: left;
            }
            &--right {
                display: inline-block;
                width: 38%;
                text-align: right;
                font-weight: 700;
            }
            ul {
                margin: 0;
                padding-top: 5px;
                padding-bottom: 5px;
            }
        }
    }
    .skills {
        width: 30%;
        order: 0;
        &__list {
            font-weight: 700;
            margin: 0 0 20px 0;
            padding-left: 27px;
        }
        p {
            margin: 0;
        }
        #tag-cloud {
            height: 160px;
        }
    }
    .hobbies {
        @mixin flex-container;
        justify-content: flex-start;
        width: 30%;
        order: 1;
        .section-title {
            width: 100%;
        }
        figure {
            text-align: center;
            font-size: 12px;
            width: 32%;
            padding: 0;
            margin: 15px 0;
            font-weight: bold;
        }
        .icon {
            width: 1.5rem;
            height: 1.5rem;
        }
    }
}

footer {
    .bg-image {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 560px;
        height: 216px;
    }
}

//ICONS
@define-mixin icon $file, $fill: #565656 {
    .icon-$(file) {
        @mixin bg-picture;
        height: 1rem;
        width: 1rem;
        display: inline-block;
        background-image: svg-load(../images/$(file).svg, fill=$(fill));
    }
}
@mixin icon art, #565656;
@mixin icon graduate-cap;
@mixin icon fix;
@mixin icon tick;
@mixin icon puzzle;
@mixin icon camera, #565656;
@mixin icon clapperboard, #565656;
@mixin icon gamepad, #565656;
@mixin icon gear, #565656;
@mixin icon spanner, #565656;
@mixin icon tools, #565656;
@mixin icon snowboard-race, #565656;
@mixin icon bg1, #000;
@mixin icon bg2, #000;
@mixin icon bg3, #000;
@mixin icon placeholder, #fff;
@mixin icon mail, #fff;
@mixin icon phone, #fff;
