 /* Basics */

 @import url(https://fonts.googleapis.com/css?family=Roboto);
 @import url(https://fonts.googleapis.com/css?family=Inconsolata&display=swap);
 html, body {
     margin: 0;
     padding: 0;
 }

 @page {
     size: 7in 9.25in;
     margin: 27mm 16mm 27mm 16mm;
 }

 body {
     /* font-family: 'Roboto', sans-serif; */
     font-family: 'Inconsolata', monospace;
 }

 img, embed, object, video {
     max-width: 100%;
 }

 * {
     /* -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box; */
     box-sizing: border-box;
 }

 .Content {
     /* width: 2480px;
    height: 3508px;

    border: 2px solid brown; */
 }

 .avatar {
     width: 100px;
     height: 100px;
     display: block;
     border-radius: 50%;
     color: rebeccapurple;
     background-image: url("../images/IMG_1407.JPG");
     background-position: center;
     /* Center the image */
     background-repeat: no-repeat;
     /* Do not repeat the image */
     background-size: cover;
 }

 /* .main-grid-container {
     display: grid;
     grid-template-columns: 50% 50%;
     grid-template-rows: 6em 1fr;
     grid-template-areas: ". ." ". .";
 } */

 .Job {
     .title {
         display: inline;
     }
     .description {
         display: inline;
     }
 }