/* Basics */

@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Inconsolata:400, 700&display=swap);

html,
body {
    margin: 0;
    padding: 1rem 2rem;
    font-size: 16px;
}

// @page {
//     size: 7in 9.25in;
//     margin: 27mm 16mm 27mm 16mm;
// }

body {
    font-family: "Inconsolata", monospace;
}

img,
embed,
object,
video {
    max-width: 100%;
}

* {
    box-sizing: border-box;
}

b {
    text-transform: uppercase;
    font-size: 18px;
}

@define-mixin flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    align-content: start;
}

.header {
    @mixin flex-container;

    &__name {
        color: gray;
        font-size: 36px;
        width: 40%;
    }

    &__main-info {
        display: block;
        order: 4;
        width: 40%;
        position: relative;
        top: -1rem;
    }

    &__avatar {
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
        background-image: inline("IMG_1407.JPG");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__personal-info {
        width: 30%;
        font-size: 12px;
    }
}

.job {
    display: inline;
    &__title {
        display: inline;
    }
    &__description {
        display: inline;
    }
}

.content {
    @mixin flex-container;

    .education {
        width: 55%;
        order: 0;
    }

    .experience {
        width: 55%;
        order: 2;
    }

    .skills {
        width: 40%;
        order: 1;
    }

    .hobbies {
        width: 40%;
        order: 3;
    }
}

.icon-art {
    height: 1rem;
    width: 1rem;
    background-image: svg-load("../images/art.svg", fill=#000);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
