@import url(https://fonts.googleapis.com/css?family=Inconsolata:400, 700&display=swap);

html,
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #565656;
    background-color: darkgray;
    font-family: "Inconsolata", monospace;
    line-height: 19.2px;
}

@page {
    size: A4;
    margin: 0;
}
@media print {
    html,
    body {
        width: 210mm;
        height: 297mm;
    }
}

img,
embed,
object,
video {
    max-width: 100%;
}

* {
    box-sizing: border-box;
}

@define-mixin flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
}

@define-mixin bg-picture {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.printable-page {
    width: 210mm;
    height: 297mm;
    position: relative;
    background-color: #fff;
    padding: 20px;
}

.header {
    @mixin flex-container;

    &__name {
        color: #000;
        font-size: 50px;
        width: 38%;
        font-weight: 700;

        span {
            display: inline-block;
            line-height: 50px;
        }
    }

    &__main-info {
        display: block;
        order: 4;
        width: 43%;
        position: relative;
        top: -1rem;
        font-size: 14px;
        color: gray;
    }

    &__avatar {
        @mixin bg-picture;
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        background-image: inline("IMG_1407.JPG");
        border: 5px solid #fff;
        z-index: 1;
    }

    &__personal-info {
        width: 30%;
        color: #fff;
        text-align: end;
        line-height: 2rem;
        z-index: 1;
    }

    .bg-image {
        position: absolute;
        top: 0;
        right: 0;
        width: 560px;
        height: 216px;
    }
}

.job {
    display: inline;
    &__title {
        display: inline;
    }
    &__description {
        display: inline;
    }
}

.content {
    @mixin flex-container;
    padding: 0 15px 0 15px;

    .section-title {
        text-transform: uppercase;
        font-size: 20px;
        margin-bottom: 10px;
    }

    .education {
        width: 60%;
        order: 0;

        &__content {
            b,
            span {
                display: inline-block;
            }
        }

        &__paragraph {
            width: 25%;
            vertical-align: top;
            text-transform: uppercase;
        }

        &__info {
            width: 70%;
            text-align: left;
        }
    }

    .experience {
        width: 60%;
        order: 2;
        position: relative;
        top: -18rem;
    }

    .skills {
        width: 33%;
        order: 1;
    }

    .hobbies {
        @mixin flex-container;
        justify-content: flex-start;
        width: 33%;
        order: 3;

        .section-title {
            width: 100%;
        }

        figure {
            text-align: center;
            width: 45%;
            padding: 0;
            margin: 15px 0;
            font-weight: bold;
        }

        .icon {
            width: 1.5rem;
            height: 1.5rem;
        }
    }
}

//ICONS
@define-mixin icon $file, $fill: #565656 {
    .icon-$(file) {
        @mixin bg-picture;
        height: 1rem;
        width: 1rem;
        display: inline-block;
        background-image: svg-load(../images/$(file).svg, fill=$(fill));
    }
}
@mixin icon art, #565656;
@mixin icon graduate-cap;
@mixin icon fix;
@mixin icon tick;
@mixin icon puzzle;
@mixin icon camera, #565656;
@mixin icon clapperboard, #565656;
@mixin icon gamepad, #565656;
@mixin icon snowboard-race, #565656;
@mixin icon bg1, #000;
@mixin icon placeholder, #fff;
@mixin icon mail, #fff;
@mixin icon phone, #fff;
